<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="buttonBox">
        <form action="/employee-home" method="get">
            <button type="submit">View profile</button>
        </form>
        <a href="/logout" class="logButton">Logout</a>
    </div>

    <% if (employees && employees.length > 0) { %>
        <% for (let i=0; i<employees.length; i++) { %>
            <div class="empList">
                <h1>Employee ID: <%= employees[i].e_id %></h1>
                <h3>Email: <%= employees[i].e_email %></h3>
                <h3>password: <%= employees[i].e_password %></h3>
                <p>First Name: <%= employees[i].e_fname %></p>
                <p>Last Name: <%= employees[i].e_lname %></p>
                <p>This Years Sales: <%= employees[i].e_yearsales %></p>
                <p>Years With The Company: <%= employees[i].e_years %></p>
                <p>Total Lifetime Sales: <%= employees[i].e_totalsales %></p>

                <form action="/delete/<%=employees[i].e_id%>" method="post">
                    <button type="submit">Delete Employee</button>
                </form>

                <form action="/edit/<%=employees[i].e_id%>" method="get">
                    <button type="submit">Edit Record</button>
                </form>
            </div>
        <% } %>
    <% } else { %>
        <p>No Employees To Display.</p>
    <% } %>

    <form action="/add-employee" method="get">
        <button type="submit">Add Employee</button>
    </form>
</body>
</html>
